<h1>Bienvenido al blog de gatitos numero 1 de Latino america</h1>
<%= link_to 'My Blog', controller: 'articles' %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="container post">
                <div clas="imagepost">
                    <tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        ._<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        .-'&nbsp; `-.<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        .-'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; \<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        ;&nbsp;&nbsp;&nbsp; .-'\&nbsp;&nbsp;&nbsp; ;<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        `._.'&nbsp;&nbsp;&nbsp; ;&nbsp;&nbsp; |<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        |&nbsp;&nbsp; |<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        ;&nbsp;&nbsp; :<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        ;&nbsp;&nbsp; :<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        ;&nbsp;&nbsp; :<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        /&nbsp;&nbsp; /<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        ;&nbsp;&nbsp;
                        :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        ,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        ;&nbsp;&nbsp;
                        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        .-"7|<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        .-'"&nbsp;
                        :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; .-'
                        .' :<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        .-'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; .'&nbsp;
                        .'&nbsp;&nbsp; `.<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        .'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; `-.
                        ""-.-'`""&nbsp;&nbsp;&nbsp; `",`-._..--"7<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ;&nbsp;&nbsp;&nbsp;
                        .&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; `-.J
                        `-,&nbsp;&nbsp;&nbsp; ;"`.;|,_,&nbsp;&nbsp;&nbsp; ;<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _.'&nbsp;&nbsp;&nbsp;
                        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; `"" `. ."""--. o
                        \:.-. _.'<br>
                        &nbsp;&nbsp;&nbsp; .""&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        ,--`;&nbsp;&nbsp; ,&nbsp; `--/}o,' ;<br>
                        &nbsp;&nbsp;&nbsp; ;&nbsp;&nbsp;
                        .___.'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        /&nbsp;&nbsp;&nbsp;&nbsp; ,--.`-. `-..7_.-&nbsp; /_<br>
                        &nbsp;&nbsp;&nbsp;&nbsp; \&nbsp;&nbsp; :&nbsp;&nbsp;
                        `..__.._;&nbsp;&nbsp;&nbsp; .'__;&nbsp;&nbsp;&nbsp; `---..__.-'-.`"-,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp; .'&nbsp;&nbsp; `--. |&nbsp;&nbsp;
                        \_;&nbsp;&nbsp;&nbsp; \'&nbsp;&nbsp; `-._.-")&nbsp;&nbsp;&nbsp;&nbsp;
                        \\&nbsp; `-,<br>
                        &nbsp;&nbsp;&nbsp;&nbsp; `.&nbsp;&nbsp;
                        -.`_):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; `.&nbsp;&nbsp; `-"""`.&nbsp;&nbsp;
                        ;__.' ;/ ;&nbsp;&nbsp; "<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; `-.__7"&nbsp;
                        `-..._.'`7&nbsp;&nbsp;&nbsp;&nbsp; -._;'&nbsp; ``"-''<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        `--.,__.'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <br>

                    </tt>
                </div>
                <div class="container comentarios">

                </div>
            </div>
            <div class="container post">
                <div clas="imagepost">
                    <td colspan="1" rowspan="1" style="vertical-align: top;">
                        <tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            /^--^\&nbsp;&nbsp;&nbsp;&nbsp; /^--^\&nbsp;&nbsp;&nbsp;&nbsp; /^--^\<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            \____/&nbsp;&nbsp;&nbsp;&nbsp; \____/&nbsp;&nbsp;&nbsp;&nbsp; \____/<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            /&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; \&nbsp;&nbsp;
                            /&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; \&nbsp;&nbsp;
                            /&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; \<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |
                            |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |
                            |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            \__&nbsp; __/&nbsp;&nbsp; \__&nbsp; __/&nbsp;&nbsp; \__&nbsp; __/<br>
                            |^|^|^|^|^|^|^|^|^|^|^|^\ \^|^|^|^/ /^|^|^|^|^\
                            \^|^|^|^|^|^|^|^|^|^|^|^|<br>
                            | | | | | | | | | | | | |\ \| | |/ /| | | | | | \ \ | | | | | | | | | |
                            |<br>
                            ########################/ /######\ \###########/
                            /#######################<br>
                            | | | | | | | | | | | | \/| | | | \/| | | | | |\/ | | | | | | | | | | |
                            |<br>
                            |_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|
                        </tt>
                </div>
                <div class="container comentarios">

                </div>
                </td>
            </div>
        </div>
    </div>
</div>